interactions:
- request:
    body: '{"requests": [{"indexName": "nengun_search", "params": "query=56483-PND-003"}]}'
    headers: {}
    method: POST
    uri: https://2s2vpip9y6-dsn.algolia.net/1/indexes/*/queries?x-algolia-application-id=2S2VPIP9Y6&x-algolia-api-key=cfae1d1ea01383e7391675de61d0eb8b
  response:
    body:
      string: '{"results":[{"hits":[],"nbHits":0,"page":0,"nbPages":0,"hitsPerPage":20,"exhaustiveNbHits":true,"exhaustiveTypo":true,"exhaustive":{"nbHits":true,"typo":true},"query":"56483-PND-003","params":"query=56483-PND-003","index":"nengun_search","processingTimeMS":2,"processingTimingsMS":{"fetch":{"total":1},"total":3}}]}'
    headers:
      Content-Disposition:
      - inline; filename=a.txt
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-PT:
      - '1'
    status:
      code: 200
      message: OK
    url: https://2s2vpip9y6-dsn.algolia.net/1/indexes/*/queries?x-algolia-application-id=2S2VPIP9Y6&x-algolia-api-key=cfae1d1ea01383e7391675de61d0eb8b
- request:
    body: '{"requests": [{"indexName": "nengun_search", "params": "query=31206-P3F-003"}]}'
    headers: {}
    method: POST
    uri: https://2s2vpip9y6-dsn.algolia.net/1/indexes/*/queries?x-algolia-application-id=2S2VPIP9Y6&x-algolia-api-key=cfae1d1ea01383e7391675de61d0eb8b
  response:
    body:
      string: '{"results":[{"hits":[],"nbHits":0,"page":0,"nbPages":0,"hitsPerPage":20,"exhaustiveNbHits":true,"exhaustiveTypo":true,"exhaustive":{"nbHits":true,"typo":true},"query":"31206-P3F-003","params":"query=31206-P3F-003","index":"nengun_search","processingTimeMS":6,"processingTimingsMS":{"fetch":{"total":1},"getIdx":{"total":4,"unload":3},"total":6}}]}'
    headers:
      Content-Disposition:
      - inline; filename=a.txt
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-PT:
      - '6'
    status:
      code: 200
      message: OK
    url: https://2s2vpip9y6-dsn.algolia.net/1/indexes/*/queries?x-algolia-application-id=2S2VPIP9Y6&x-algolia-api-key=cfae1d1ea01383e7391675de61d0eb8b
- request:
    body: '{"requests": [{"indexName": "nengun_search", "params": "query=12251-RBB-004"}]}'
    headers: {}
    method: POST
    uri: https://2s2vpip9y6-dsn.algolia.net/1/indexes/*/queries?x-algolia-application-id=2S2VPIP9Y6&x-algolia-api-key=cfae1d1ea01383e7391675de61d0eb8b
  response:
    body:
      string: '{"results":[{"hits":[],"nbHits":0,"page":0,"nbPages":0,"hitsPerPage":20,"exhaustiveNbHits":true,"exhaustiveTypo":true,"exhaustive":{"nbHits":true,"typo":true},"query":"12251-RBB-004","params":"query=12251-RBB-004","index":"nengun_search","processingTimeMS":4,"processingTimingsMS":{"fetch":{"total":2},"getIdx":{"load":{"total":1},"total":1},"total":4}}]}'
    headers:
      Content-Disposition:
      - inline; filename=a.txt
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-PT:
      - '3'
    status:
      code: 200
      message: OK
    url: https://2s2vpip9y6-dsn.algolia.net/1/indexes/*/queries?x-algolia-application-id=2S2VPIP9Y6&x-algolia-api-key=cfae1d1ea01383e7391675de61d0eb8b
[...]
- request:
    body: '{"requests": [{"indexName": "nengun_search", "params": "query=74100-S2A-010"}]}'
    headers: {}
    method: POST
    uri: https://2s2vpip9y6-dsn.algolia.net/1/indexes/*/queries?x-algolia-application-id=2S2VPIP9Y6&x-algolia-api-key=cfae1d1ea01383e7391675de61d0eb8b
  response:
    body:
      string: '{"results":[{"hits":[{"name":"Honda","name2":"FENDER ASSY., R. FR.
        INNER","code":"74100-S2A-010","url":"https://www.nengun.com/oem/honda/74100-s2a-010","image":"https://image.nengun.com/brand/product/nengun-537-honda.png","class":"oem","ribbon":"OEM
        Part","objectID":"oem-62403","_highlightResult":{"name":{"value":"Honda","matchLevel":"none","matchedWords":[]},"name2":{"value":"FENDER
        ASSY., R. FR. INNER","matchLevel":"none","matchedWords":[]},"code":{"value":"<em>74100-S2A-010</em>","matchLevel":"full","fullyHighlighted":true,"matchedWords":["74100","s2a","010"]},"vehicles":{"value":"Honda
        - S2000 - AP1 F20C","matchLevel":"none","matchedWords":[]},"aliases":[{"value":"Honda
        FENDER ASSY., R. FR. INNER","matchLevel":"none","matchedWords":[]}]}},{"name":"Honda","name2":"FENDER
        ASSY., L. FR. INNER","code":"74150-S2A-010","url":"https://www.nengun.com/oem/honda/74150-s2a-010","image":"https://image.nengun.com/brand/product/nengun-537-honda.png","class":"oem","ribbon":"OEM
        Part","objectID":"oem-62402","_highlightResult":{"name":{"value":"Honda","matchLevel":"none","matchedWords":[]},"name2":{"value":"FENDER
        ASSY., L. FR. INNER","matchLevel":"none","matchedWords":[]},"code":{"value":"<em>74150-S2A-010</em>","matchLevel":"full","fullyHighlighted":true,"matchedWords":["74100","s2a","010"]},"vehicles":{"value":"Honda
        - S2000 - AP1 F20C","matchLevel":"none","matchedWords":[]},"aliases":[{"value":"Honda
        FENDER ASSY., L. FR. INNER","matchLevel":"none","matchedWords":[]}]}}],"nbHits":2,"page":0,"nbPages":1,"hitsPerPage":20,"exhaustiveNbHits":true,"exhaustiveTypo":true,"exhaustive":{"nbHits":true,"typo":true},"query":"74100-S2A-010","params":"query=74100-S2A-010","index":"nengun_search","processingTimeMS":1}]}'
    headers:
      Content-Disposition:
      - inline; filename=a.txt
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-PT:
      - '1'
    status:
      code: 200
      message: OK
    url: https://2s2vpip9y6-dsn.algolia.net/1/indexes/*/queries?x-algolia-application-id=2S2VPIP9Y6&x-algolia-api-key=cfae1d1ea01383e7391675de61d0eb8b
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.nengun.com/oem/honda/74100-s2a-010
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head prefix=\n    \"og: http://ogp.me/ns#
        \n     fb: http://ogp.me/ns/fb# \nproduct: http://ogp.me/ns/product#\">\n
        \ <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\" />\n  <title>74100-S2A-010
        - Honda - FENDER ASSY., R. FR. INNER - Nengun Performance</title>\n  <meta
        name=\"description\" content=\"Buy Honda - FENDER ASSY., R. FR. INNER 74100-S2A-010
        direct from Japan, 100% genuine parts shipped worldwide.\" />\n  <meta property=\"og:url\"
        content=\"https://www.nengun.com/oem/honda/74100-s2a-010\" />\n  <meta property=\"og:title\"
        content=\"FENDER ASSY., R. FR. INNER\" />\n  <meta property=\"og:description\"
        content=\"\" />\n  <meta property=\"og:site_name\" content=\"Nengun Performance\"
        />\n  <meta property=\"og:type\" content=\"product\" />\n  <meta property=\"og:image\"
        content=\"https://image.nengun.com/brand/product/nengun-537-honda.png\" />\n
        \ <meta name=\"twitter:card\" content=\"summary\" />\n  <meta name=\"twitter:site\"
        content=\"@nengun\" />\n  <meta name=\"google\" content=\"notranslate\" />\n
        \ <meta name=\"viewport\" content=\"initial-scale=1.0, width=device-width\"
        />\n  <script type=\"text/javascript\">(window.NREUM||(NREUM={})).init={ajax:{deny_list:[\"bam.nr-data.net\"]}};(window.NREUM||(NREUM={})).loader_config={xpid:\"VQMAVlVSGwsBVVFWBA==\",licenseKey:\"84f6476c4f\",applicationID:\"811043\"};window.NREUM||(NREUM={}),__nr_require=function(t,e,n){function
        r(n){if(!e[n]){var i=e[n]={exports:{}};t[n][0].call(i.exports,function(e){var
        i=t[n][1][e];return r(i||e)},i,i.exports)}return e[n].exports}if(\"function\"==typeof
        __nr_require)return __nr_re[...]
- request:
    body: '{"requests": [{"indexName": "nengun_search", "params": "query=31170-PND-013"}]}'
    headers: {}
    method: POST
    uri: https://2s2vpip9y6-dsn.algolia.net/1/indexes/*/queries?x-algolia-application-id=2S2VPIP9Y6&x-algolia-api-key=cfae1d1ea01383e7391675de61d0eb8b
  response:
    body:
      string: '{"results":[{"hits":[],"nbHits":0,"page":0,"nbPages":0,"hitsPerPage":20,"exhaustiveNbHits":true,"exhaustiveTypo":true,"exhaustive":{"nbHits":true,"typo":true},"query":"31170-PND-013","params":"query=31170-PND-013","index":"nengun_search","processingTimeMS":1}]}'
    headers:
      Content-Disposition:
      - inline; filename=a.txt
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-PT:
      - '1'
    status:
      code: 200
      message: OK
    url: https://2s2vpip9y6-dsn.algolia.net/1/indexes/*/queries?x-algolia-application-id=2S2VPIP9Y6&x-algolia-api-key=cfae1d1ea01383e7391675de61d0eb8b
version: 1
