interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://hondaspareparts.co.uk/products/31206P3F003
  response:
    body:
      string: "<!doctype html>\n<html class=\"no-js\" lang=\"en\">\n<head>\n\n  <meta
        charset=\"utf-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n
        \ <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n
        \ <meta name=\"theme-color\" content=\"#222222\">\n\n  \n    <link rel=\"shortcut
        icon\" href=\"//cdn.shopify.com/s/files/1/0280/2971/4502/files/favicon_32x32.png?v=1591723474\"
        type=\"image/png\">\n  \n\n  <link rel=\"canonical\" href=\"https://hondaspareparts.co.uk/products/31206p3f003\">\n
        \ <title>\n  ARMATURE COMP. (###) | 31206P3F003 | honda car part &ndash; lings-hondaparts\n
        \ </title>\n\n  \n    <meta name=\"description\" content=\"Genuine honda car
        part description: ARMATURE COMP. (###) | honda part number: 31206P3F003\">\n
        \ \n\n  <!-- /snippets/social-meta-tags.liquid -->\n\n\n\n\n<meta property=\"og:site_name\"
        content=\"lings-hondaparts\">\n<meta property=\"og:url\" content=\"https://hondaspareparts.co.uk/products/31206p3f003\">\n<meta
        pro[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://hondaspareparts.co.uk/products/08F03S02180K
  response:
    body:
      string: "<!doctype html>\n<html class=\"no-js\" lang=\"en\">\n<head>\n\n  <meta
        charset=\"utf-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n
        \ <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n
        \ <meta name=\"theme-color\" content=\"#222222\">\n\n  \n    <link rel=\"shortcut
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://hondaspareparts.co.uk/products/56483PND003
  response:
    body:
      string: "<!doctype html>\n<html class=\"no-js\" lang=\"en\">\n<head>\n\n  <meta
        charset=\"utf-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n
        \ <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n
        \ <meta name=\"theme-color\" content=\"#222222\">\n\n  \n    <link rel=\"shortcut
 [...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://hondaspareparts.co.uk/products/12251RBB004
  response:
    body:
      string: "<!doctype html>\n<html class=\"no-js\" lang=\"en\">\n<head>\n\n  <meta
        charset=\"utf-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n
        \ <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n
        \ <meta name=\"theme-color\" content=\"#222222\">\n\n  \n    <link rel=\"shortcut
 [...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://hondaspareparts.co.uk/products/74100S2A010
  response:
    body:
      string: "<!doctype html>\n<html class=\"no-js\" lang=\"en\">\n<head>\n\n  <meta
        charset=\"utf-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n
        \ <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n
        \ <meta name=\"theme-color\" content=\"#222222\">\n\n  \n    <link rel=\"shortcut
 [...]
[...]
