interactions:
- request:
    body: '{"params": "query=08F03-S02-180K"}'
    headers: {}
    method: POST
    uri: https://nnvjvcwb78-dsn.algolia.net/1/indexes/magento2_en_products/query?x-algolia-application-id=NNVJVCWB78&x-algolia-api-key=YmM2ZWQ3MGQwMjI2OGJiNjI2ZDdlYjQzZTM0ZjBiNDlhNTQzYzk4ZDhkMWExYWJjNGU0YzMwYWVjY2U1YjJkOXRhZ0ZpbHRlcnM9
  response:
    body:
      string: "{\"hits\":[{\"name\":\"OEM Honda ''DOHC VTEC'' stickers (Civic/CRX/Del
        sol)\",\"url\":\"https://www.a4h-tech.com/en/oem-honda-dohc-vtec-stickers\",\"visibility_search\":1,\"visibility_catalog\":1,\"type_id\":\"simple\",\"ordered_qty\":85,\"rating_summary\":\"\",\"categories\":{\"level0\":[\"Exterior\",\"Brands\",\"All
        Products\"],\"level1\":[\"Exterior /// Logo's | Stickers | Foils\",\"Brands
        /// OEM Honda\",\"Exterior /// Body Repair Parts\"]},\"categories_without_path\":[\"Logo's
        | Stickers | Foils\",\"OEM Honda\",\"Body Repair Parts\",\"All Products\"],\"categoryIds\":[\"1032\",\"1052\",\"1189\",\"1337\",\"1414\",\"1482\"],\"thumbnail_url\":\"//www.a4h-tech.com/media/catalog/product/cache/6c5c5e8d5ee382759c9efb3a86300c19/7/5/75727-s02-a11za-oem-honda-dohc-vtec-stickers-civic-crx-del-sol-all4honda.jpg\",\"image_url\":\"//www.a4h-tech.com/media/catalog/product/cache/3558329f726a95ba08740a57c013e49b/7/5/75727-s02-a11za-oem-honda-dohc-vtec-stickers-civic-crx-del-sol-all4honda.jpg\",\"in_stock\":1,\"stock_qty\":1,\"sku\":\"75727-S02-A11ZA\",\"created_at\":\"2018-04-04
        12:13:20\",\"price\":{\"EUR\":{\"default\":28.5,\"default_formated\":\"\u20AC28.50\",\"special_from_date\":false,\"special_to_date\":false}},\"manufacturer\":\"OEM
        Honda\",\"ribbon\":null,\"partfinder_lvl0\":[\"Honda\"],\"partfinder_lvl1\":[\"Honda
        > CRX\",\"Honda > Del Sol\",\"Honda > Integra\",\"Honda > Civic 2 deurs/coupe\",\"Honda
        > Civic 3 deurs/hatchback\",\"Honda > Civic 5 deurs/hatchback\",\"Honda >
        Civic 4 deurs/sedan\",\"Honda > Civic aerodeck\"],\"partfinder_lvl2\":[\"Honda
        > CRX > 1988-1991\",\"Honda > Del Sol > 1992-1995\",\"Honda > Del Sol > 1996-1998\",\"Honda
        > Integra > 1995-1997\",\"Honda > Integra > 1998-2000\",\"Honda > Civic 2
        deurs/coupe > 1992-1995\",\"Honda > Civic 2 deurs/coupe > 1996-1998\",\"Honda
        > Civic 2 deurs/coupe > 1999-2000\",\"Honda > Civic 3 deurs/hatchback > 1988-1991\",\"Honda
        > Civic 3 deurs/hatchback > 1992-1995\",\"Honda > Civic 3 deurs/hatchback
        > 1996-1998\",\"Honda > Civic 3 deurs/hatchback > 1999-2000\",\"Honda > Civic
        5 deurs/hatchback > 1995-1997\",\"Honda > Civic 5 deurs/hatchback > 1997-2001\",\"Honda
        > Civic 4 deurs/sedan > 1988-1991\",\"Honda > Civic 4 deurs/sedan > 1992-1995\",\"Honda
        > Civic 4 deurs/sedan > 1996-1998\",\"Honda > Civic 4 deurs/sedan > 1999-2000\",\"Honda
        > Civic aerodeck > 1998-2001\"],\"partfinder_lvl3\":[\"Honda > CRX > 1988-1991
        > 1.4\",\"Honda > CRX > 1988-1991 > 1.5i\",\"Honda > CRX > 1988-1991 > 1.6i
        DOHC\",\"Honda > CRX > 1988-1991 > 1.6i VTEC\",\"Honda > Del Sol > 1992-1995
        > 1.6 ESI\",\"Honda > Del Sol > 1992-1995 > 1.6 VTI\",\"Honda > Del Sol >
        1996-1998 > 1.6 ESI\",\"Honda > Del Sol > 1996-1998 > 1.6 VTI\",\"Honda >
        Integra > 1995-1997 > 1.8i RS/LS/SE (USDM)\",\"Honda > Integra > 1995-1997
        > 1.8i GS-R (USDM)\",\"Honda > Integra > 1995-199[...]
- request:
    body: '{"params": "query=12251-RBB-004"}'
    headers: {}
    method: POST
    uri: https://nnvjvcwb78-dsn.algolia.net/1/indexes/magento2_en_products/query?x-algolia-application-id=NNVJVCWB78&x-algolia-api-key=YmM2ZWQ3MGQwMjI2OGJiNjI2ZDdlYjQzZTM0ZjBiNDlhNTQzYzk4ZDhkMWExYWJjNGU0YzMwYWVjY2U1YjJkOXRhZ0ZpbHRlcnM9
  response:
    body:
      string: "{\"hits\":[{\"name\":\"OEM Honda head gasket (Accord 2003-2012 2.4
        type S)\",\"url\":\"https://www.a4h-tech.com/en/oem-honda-head-gasket-accord-2003-2012-2-4-type-s\",\"visibility_search\":1,\"visibility_catalog\":1,\"type_id\":\"simple\",\"ordered_qty\":10,\"rating_summary\":\"\",\"categories\":{\"level0\":[\"Engine\",\"Brands\",\"All
        Products\"],\"level1\":[\"Engine /// Cylinder head & Accessories\",\"Engine
        /// Internal Engine Parts\",\"Brands /// OEM Honda\"],\"level2\":[\"Engine
        /// Cylinder head & Accessories /// Gaskets & Accessories\",\"Engine /// Internal
        Engine Parts /// Gaskets & Seals\"]},\"categories_without_path\":[\"Gaskets
        & Accessories\",\"Gaskets & Seals\",\"OEM Honda\",\"All Products\"],\"categoryIds\":[\"1054\",\"1055\",\"1128\",\"1059\",\"1150\",\"1189\",\"1337\",\"1482\"],\"thumbnail_url\":\"//www.a4h-tech.com/media/catalog/product/cache/6c5c5e8d5ee382759c9efb3a86300c19/1/2/12251-rbb-004-oem-honda-koppakking-accord-2003[...]
[...]
- request:
    body: '{"params": "query=74100-S2A-010"}'
    headers: {}
    method: POST
    uri: https://nnvjvcwb78-dsn.algolia.net/1/indexes/magento2_en_products/query?x-algolia-application-id=NNVJVCWB78&x-algolia-api-key=YmM2ZWQ3MGQwMjI2OGJiNjI2ZDdlYjQzZTM0ZjBiNDlhNTQzYzk4ZDhkMWExYWJjNGU0YzMwYWVjY2U1YjJkOXRhZ0ZpbHRlcnM9
  response:
    body:
      string: "{\"hits\":[{\"name\":\"OEM Honda wheel arch inner fender (Honda S2000
        99-03)\",\"url\":\"https://www.a4h-tech.com/en/oem-honda-wielkuip-spatbord-honda-s2000-99-4\",\"visibility_search\":1,\"visibility_catalog\":1,\"type_id\":\"configurable\",\"ordered_qty\":\"\",\"rating_summary\":\"\",\"categories\":{\"level0\":[\"Exterior\",\"Brands\",\"All
        Products\",\"New\"],\"level1\":[\"Exterior /// Bumpers\",\"Exterior /// Fenders\",\"Exterior
        /// Others Exterior\",\"Brands /// OEM Honda\",\"Exterior /// Body Repair
        Parts\"]},\"categories_without_path\":[\"Bumpers\",\"Fenders\",\"Others Exterior\",\"OEM
        Honda\",\"Body Repair Parts\",\"All Products\",\"New\"],\"categoryIds\":[\"1032\",\"1034\",\"1050\",\"1053\",\"1189\",\"1337\",\"1414\",\"1482\",\"1543\"],\"thumbnail_url\":\"//www.a4h-tech.com/media/catalog/product/cache/6c5c5e8d5ee382759c9efb3a86300c19/7/4/74151-s2a-020.jpg\",\"image_url\":\"//www.a4h-tech.com/media/catalog/product/cache/3558329f726a95ba08740a57c013e49b/7/4/74151-s2a-020.jpg\",\"in_stock\":1,\"stock_qty\":0,\"color\":[\"Platina
        white\"],\"sku\":[\"741XX-S2A-020\",\"74100-S2A-000\",\"74150-S2A-000\"],\"created_at\":\"2022-09-29
        13:40:48\",\"price\":{\"EUR\":{\"default\":199.3,\"default_formated\":\"\u20AC199.30\",\"special_from_date\":false,\"special_to_date\":false}},\"manufacturer\":\"OEM
        Honda\",\"ribbon\":null,\"partfinder_lvl0\":[\"Honda\"],\"partfinder_lvl1\":[\"Honda
        > S2000\"],\"partfinder_lvl2\":[\"Honda > S2000 > 2004-2009\"],\"partfinder_lvl3\":[\"Honda
        > S2000 > 2004-2009 > 2.0i\",\"Honda > S2000 > 2004-2009 > 2.2i (US)\"],\"partfinder_universal\":false,\"algoliaLastUpdateAtCET\":\"2022-11-16
        19:49:20\",\"objectID\":\"50353\",\"_highlightResult\":{\"name\":{\"value\":\"OEM
        Honda wheel arch inner fender (Honda S2000 99-03)\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"ordered_qty\":{\"value\":\"\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"rating_summary\":{\"value\":\"\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"categories\":{\"level0\":[{\"value\":\"Exterior\",\"matchLevel\":\"none\",\"matchedWords\":[]},{\"value\":\"Brands\",\"matchLevel\":\"none\",\"matchedWords\":[]},{\"value\":\"All
        Products\",\"matchLevel\":\"none\",\"matchedWords\":[]},{\"value\":\"New\",\"matchLevel\":\"none\",\"matchedWords\":[]}],\"level1\":[{\"value\":\"Exte[...]
[...]
