interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://japserviceparts.co.uk/?wc-ajax=yith_ajax_search_products&query=56483-PND-003
  response:
    body:
      string: '{"results":false,"suggestions":[{"id":-1,"value":"No results","url":""}],"time":0.003620147705078125}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Sucuri-Cache:
      - HIT
      X-Sucuri-ID:
      - '13017'
    status:
      code: 200
      message: OK
    url: https://japserviceparts.co.uk/?wc-ajax=yith_ajax_search_products&query=56483-PND-003
- request:
    body: null
    headers: {}
    method: GET
    uri: https://japserviceparts.co.uk/?wc-ajax=yith_ajax_search_products&query=74100-S2A-010
  response:
    body:
      string: '{"results":false,"suggestions":[{"id":-1,"value":"No results","url":""}],"time":0.002875089645385742}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Sucuri-Cache:
      - MISS
      X-Sucuri-ID:
      - '13017'
    status:
      code: 200
      message: OK
    url: https://japserviceparts.co.uk/?wc-ajax=yith_ajax_search_products&query=74100-S2A-010
- request:
    body: null
    headers: {}
    method: GET
    uri: https://japserviceparts.co.uk/?wc-ajax=yith_ajax_search_products&query=31206-P3F-003
  response:
    body:
      string: '{"results":false,"suggestions":[{"id":-1,"value":"No results","url":""}],"time":0.002894163131713867}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Sucuri-Cache:
      - MISS
      X-Sucuri-ID:
      - '13017'
    status:
      code: 200
      message: OK
    url: https://japserviceparts.co.uk/?wc-ajax=yith_ajax_search_products&query=31206-P3F-003
- request:
    body: null
    headers: {}
    method: GET
    uri: https://japserviceparts.co.uk/?wc-ajax=yith_ajax_search_products&query=31170-PND-013
  response:
    body:
      string: '{"results":false,"suggestions":[{"id":2999,"value":"Auto Tensioner
        Assy","url":"https:\/\/japserviceparts.co.uk\/product\/auto-tensioner-assy\/","img":"<div
        class=\"yith_wcas_result_image align-left\"><img width=\"100\" height=\"100\"
        src=\"https:\/\/japserviceparts.co.uk\/wp-content\/uploads\/2021\/06\/90bac2d3-a415-4f98-b253-2093bb650399-100x100.jpg\"
        class=\"ywcas_img align-left\" alt=\"\" decoding=\"async\" srcset=\"https:\/\/japserviceparts.co.uk\/wp-content\/uploads\/2021\/06\/90bac2d3-a415-4f98-b253-2093bb650399-100x100.jpg
        100w, https:\/\/japserviceparts.co.uk\/wp-content\/uploads\/2021\/06\/90bac2d3-a415-4f98-b253-2093bb650399-300x300.jpg
        300w, https:\/\/japserviceparts.co.uk\/wp-content\/uploads\/2021\/06\/90bac2d3-a415-4f98-b253-2093bb650399-150x150.jpg
        150w, https:\/\/japserviceparts.co.uk\/wp-content\/uploads\/2021\/06\/90bac2d3-a415-4f98-b253-2093bb650399-600x600.jpg
        600w, https:\/\/japserviceparts.co.uk\/wp-content\/uploads\/2021\/06\/90bac2d3-a415-4f98-b253-2093bb650399.jpg
        640w\" sizes=\"(max-width: 100px) 100vw, 100px\" \/><\/div>","price":"<span
        class=\"woocommerce-Price-amount amount\"><bdi><span class=\"woocommerce-Price-currencySymbol\">&pound;<\/span>138.01<\/bdi><\/span>
        <small class=\"woocommerce-price-suffix\">(<span class=\"woocommerce-Price-amount
        amount\"><bdi><span class=\"woocommerce-Price-currencySymbol\">&pound;<\/span>115.01<\/bdi><\/span>
        Ex.VAT)<\/small>"},{"id":2859,"value":"OE Quality AUX Belt Auto Tensioner
        K20A\/K20Z","url":"https:\/\/japserviceparts.co.uk\/product\/oe-quality-aux-belt-auto-tensioner-k20a-k20z\/","img":"<div
        class=\"yith_wcas_result_image align-left\"><img width=\"100\" height=\"100\"
        src=\"https:[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://japserviceparts.co.uk/product/auto-tensioner-assy/
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en-GB\">\n<head>\n\t<meta charset=\"UTF-8\">\n\t\t<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\t<link
        rel=\"profile\" href=\"http://gmpg.org/xfn/11\">\n\t<!-- Google Tag Manager
        -->\r\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\r\nnew
        Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\r\nj=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\r\n'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\r\n})(window,document,'script','dataLayer','GTM-NQRKCS4');</script>\r\n<!--
        End Google Tag Manager -->\n<meta name='robots' content='index, follow, max-image-preview:large,
        max-snippet:-1, max-video-preview:-1' />\n\n\t<!-- This site is optimized
        with the Yoast SEO Premium plugin v19.5 (Yoast SEO v19.11) - https://yoast.com/wordpress/plugins/seo/
        -->\n\t<title>Auto Tensioner Assy - Jap Service Parts</title><link rel=\"preload\"
        as=\"font\" href=\"https://japserviceparts.co.uk/wp-content/plugins/customer-reviews-woocommerce/fonts/roboto-400.woff2\"
        crossorigin><link rel=\"preload\" as=\"font\" href=\"https://japserviceparts.co.uk/wp-content/plugins/customer-reviews-woocommerce/fonts/roboto-700.woff2\"
        crossorigin><link rel=\"preload\" as=\"font\" href=\"https://japserviceparts.co.uk/wp-content/plugins/woocommerce/assets/fonts/star.woff\"
        crossorigin><link rel=\"preload\" a[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://japserviceparts.co.uk/?wc-ajax=yith_ajax_search_products&query=12251-RBB-004
  response:
    body:
      string: '{"results":false,"suggestions":[{"id":270,"value":"Head Gasket Civic
        FN2 Type R K20Z4 OE JAPAN","url":"https:\/\/japserviceparts.co.uk\/product\/head-gasket-civic-fn2-type-r-k20z4-oe-japan\/","img":"<div
        class=\"yith_wcas_result_image align-left\"><img width=\"100\" height=\"100\"
        src=\[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://japserviceparts.co.uk/product/head-gasket-civic-fn2-type-r-k20z4-oe-japan/
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en-GB\">\n<head>\n\t<meta charset=\"UTF-8\">\n\t\t<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\t<link
        rel=\"profile\" href=\"http://gmpg.org/xfn/11\">\n\t<!-- Google Tag Manager
        -->\r\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[...]
