interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.acuraexpressparts.com/search?search_str=31206-P3F-003
  response:
    body:
      string: "<!DOCTYPE html> <html lang=\"en\"> <head> <meta charset=\"utf-8\">
        <title>Search Results | Acura Express Parts</title> <base href=\"https://www.acuraexpressparts.com\">
        <link rel=\"preload\" href=\"https://dgjfe4w8gdxne.cloudfront.net/webstore/8812/common.js\"
        as=\"script\"> <link rel=\"preload\" href=\"https://dgjfe4w8gdxne.cloudfront.net/webstore/8812/webstore-package.js\"
        as=\"script\"> <link rel=\"preload\" href=\"https://dgjfe4w8gdxne.cloudfront.net/webstore/8812/search.js\"
        as=\"script\"> <link rel=\"preload\" href=\"https://dgjfe4w8gdxne.cloudfront.net/webstore/8812/modules/oem_sidebar/oem_sidebar.js\"
        as=\"script\"> <link rel=\[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.acuraexpressparts.com/search?search_str=08F03-S02-180K
  response:
    body:
      string: "<!DOCTYPE html> <html lang=\"en\"> <head> <meta charset=\"utf-8\">
        <title>Search Results | Acura Express Parts</title> <base href=\"https://www.acuraexpressparts.com\">
        <link rel=\"preload\" href=\"https://dgjfe4w8gdxne.cloudfront.net/webstore/8812/common.js\"
        as=\"script\"> <link rel=\"preload\" href=\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.acuraexpressparts.com/search?search_str=56483-PND-003
  response:
    body: {}
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - /oem-parts/acura-pulley-power-steering-pump-56483pnd003
      X-Environment:
      - prd
      X-Role:
      - webstore
      parent-id:
      - 7691d1d7624208d4
      sampled:
      - '1'
      trace-id:
      - 6d3bbbdc0e61486e
    status:
      code: 302
      message: Found
    url: https://www.acuraexpressparts.com/search?search_str=56483-PND-003
- request:
    body: null
    headers:
    method: GET
    uri: https://www.acuraexpressparts.com/oem-parts/acura-pulley-power-steering-pump-56483pnd003
  response:
    body:
      string: "<!DOCTYPE html> <html lang=\"en\"> <head> <meta charset=\"utf-8\">
        <title>Genuine OEM Acura Pulley, Power Steering Pump Part# 56483-PND-003 Fits
        2002-2004 Acura RSX: Up To 35% Off On Every Order And Guaranteed Fit When
        You Enter Your VIN | Acura Express Parts</title> <base href=\"https[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.acuraexpressparts.com/search?search_str=12251-RBB-004
  response:
    body: {}
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - /oem-parts/acura-gasket-cylinder-head-nippon-leakless-12251rbb004
      X-Environment:
      - prd
      X-Role:
      - webstore
      parent-id:
      - b8dde56d17c06bb1
      sampled:
      - '1'
      trace-id:
      - 836a484d2625ee05
    status:
      code: 302
      message: Found
    url: https://www.acuraexpressparts.com/search?search_str=12251-RBB-004
- request:
    body: null
    headers:
    method: GET
    uri: https://www.acuraexpressparts.com/oem-parts/acura-gasket-cylinder-head-nippon-leakless-12251rbb004
  response:
    body:
      string: "<!DOCTYPE html> <html lang=\"en\"> <head> <meta charset=\"utf-8\">
        <title>Genuine OEM Acura Gasket, Cylinder Head (Nippon Leakless) Part# 12251-RBB-004
        Fits 2004-2008 Acura TSX: Up To 35% Off On Every Order And Guaranteed Fit
        When You Enter Your VIN | Acura Express Parts</tit[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.acuraexpressparts.com/search?search_str=74100-S2A-010
  response:
    body:
      string: "<!DOCTYPE html> <html lang=\"en\"> <head> <meta charset=\"utf-8\">
        <title>Search Results | Acura Express Parts</title> <base href=\"https://www.acuraexpressparts.com\">
        <link rel=\"preload\" href=\"https://dgjfe4w8gdxne.cloudfront.net/webstore/9048/common.js\"
        as=\"script\"> <link rel=\"preload\" href=\"h[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.acuraexpressparts.com/oem-parts/acura-tensioner-assembly-auto-31170pnd013
  response:
    body:
      string: "<!DOCTYPE html> <html lang=\"en\"> <head> <meta charset=\"utf-8\">
        <title>Genuine OEM Acura Tensioner Assembly, Auto Part# 31170-PND-013 Fits
        2002-2006 Acura RSX: Up To 35% Off On Every Order And Guaranteed Fit When
        You Enter Your VIN | Acura Express Parts</title> <base href=\"https://www[...]
