interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://eucs4.klevu.com/cloud-search/n-search/search?ticket=klevu-14866558287345291&term=31206-P3F-003&responseType=json
  response:
    body:
      string: "{\"meta\":{\"layoutId\":\"\",\"layoutType\":\"\",\"noOfResults\":12,\"paginationStartFrom\":0,\"powerdByLogo\":\"\",\"totalResultsFound\":849,\"typeOfQuery\":\"FUZZY_OR\",\"storeBaseCurrency\":\"GBP\",\"notificationCode\":1,\"term\":\"31206-P3F-003\",\"excludeIds\":null,\"isPersonalised\":false,\"idsUsedForPersonalisation\":null},\"result\":[{\"discount\":\"\",\"hideGroupPrices\":\"\",\"itemGroupId\":\"\",\"freeShipping\":\"\",\"storeBaseCurrency\":\"GBP\",\"price\":\"7.69\",\"toPrice\":\"\",\"imageUrl\":\"https://www.tegiwaimports.com/media/klevu_images/h/1/h1540-rta-003_1.jpg\",\"currency\":\"GBP\",\"inStock\":\"yes\",\"id\":\"3674\",\"imageHover\":\"\",\"sku\":\"H1540-RTA-003\",\"startPrice\":\"\",\"image\":\"https://www.tegiwaimports.com/media/klevu_images/h/1/h1540-rta-003_1.jpg\",\"deliveryInfo\":\"\",\"hideAddToCart\":\"\",\"salePrice\":\"7.69\",\"oldPrice\":\"7.69\",\"swatches\":{\"swatch\":[],\"lowestPrice\":\"\",\"numberOfAdditionalVariants\":\"\"},\"weight\":\"0.1000\",\"klevu_category\":\"KLEVU_PRODUCT;;Select
        Car;;Honda;;EE / EF;;EG;;EK;;EP;;FN;;FD;;DC2;;DC5;;S2000;;Accord;;CRZ;;Jazz;;Prelude;;NSX;;Service
        Items;;FK2;;FK8  @ku@kuCategory@ku@\",\"totalVariants\":\"0\",\"groupPrices\":\"9:Dealer_VAT:4.8100;10:Dealer_VATREG:4.8100;11:Trader_VAT:5.7800;12:Trader_VATREG:5.7800;15:Sponsor:5.7800;18:Distributor_VATREG:4.8100;23:Dealer_UK:4.8100\",\"url\":\"https://www.tegiwaimports.com/jdm-honda-hamp-synergy-oil-filter.html\",\"name\":\"JDM
        HONDA HAMP SYNERGY OIL FILTER\",\"shortDesc\":\"HAMP Synergy are aftermarket
        products designed by Honda and are a step up from the \\\"Honda Original Parts\\\"
        products. They are not meant to compete with racing products, however, these
        pieces are quality and are used by some of top Japanese race teams such as
        Spoon.\",\"category\":\"honda;;ee / ef;;eg;;ek;;ep;;fn;;fd;;dc2;;dc5;;s2000;;accord;;crz;;jazz;;prelude;;nsx;;service
        items;;service items;;service items;;service items;;service items;;service
        items;;service items;;service items;;service items;;service items;;service
        items;;service items;;service items;;service items;;service items\"},{\"discount\":\"\",\"hideGroupPrices\":\"\",\"itemGroupId\":\"195874\",\"freeShipping\":\"\",\"storeBaseCurrency\":\"GBP\",\"price\":\"226.37\",\"toPrice\":\"\",[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://eucs4.klevu.com/cloud-search/n-search/search?ticket=klevu-14866558287345291&term=08F03-S02-180K&responseType=json
  response:
    body:
      string: "{\"meta\":{\"layoutId\":\"\",\"layoutType\":\"\",\"noOfResults\":12,\"paginationStartFrom\":0,\"powerdByLogo\":\"\",\"totalResultsFound\":390,\"typeOfQuery\":\"FUZZY_OR\",\"storeBaseCurrency\":\"GBP\",\"notificationCode\":1,\"term\":\"08F03-S02-180K\",\"excludeIds\":null,\"isPersonalised\":false,\"idsUsedForPersonalisation\":null},\"result\":[{\"color\":\"N/A\",\"discount\":\"\",\"hideGroupPrices\":\"\",\"itemGroupId\":\"\",\"freeShipping\":\"\",\"storeBaseCurrency\":\"GBP\",\"price\":\"27\",\"toPrice\":\"\",\"imageUrl\":\"https://www.tegiwaimports.com/media/klevu_images/9/0/90301-sr3-000-1.jpg\",\"currency\":\"GBP\",\"inStock\":\"yes\",\"id\":\"73959\",\"imageHover\":\"\",\"sku\":\"90301-SR3-000\",\"startPrice\":\"\",\"image\":\"https://www.tegiwaimports.com/media/klevu_images/9/0/90301-sr3-000-1.jpg\",\"deliveryInfo\":\"\",\"hideAddToCart\":\[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://eucs4.klevu.com/cloud-search/n-search/search?ticket=klevu-14866558287345291&term=56483-PND-003&responseType=json
  response:
    body:
      string: "{\"meta\":{\"layoutId\":\"\",\"layoutType\":\"\",\"noOfResults\":12,\"paginationStartFrom\":0,\"powerdByLogo\":\"\",\"totalResultsFound\":809,\"typeOfQuery\":\"FUZZY_OR\",\"storeBaseCurrency\":\"GBP\",\"notificationCode\":1,\"term\":\"56483-PND-003\",\"excludeIds\":null,\"is[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://eucs4.klevu.com/cloud-search/n-search/search?ticket=klevu-14866558287345291&term=12251-RBB-004&responseType=json
  response:
    body:
      string: '{"meta":{"layoutId":"","layoutType":"","noOfResults":12,"paginationStartFrom":0,"powerdByLogo":"","totalResultsFound":1,"typeOfQuery":"WILDCARD_AND","storeBaseCurrency":"GBP","notificationCode":1,"term":"12251-RBB-004","excludeIds":null,"isPersonalised":false,"idsUsedForPers[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.tegiwaimports.com/genuine-honda-head-gasket-k-series-k24.html
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\" />\n<title>GENUINE HONDA HEAD GASKET
        K-SERIES K24 by Genuine Honda for only \xA355.01  | Tegiwa Imports</title>\n<meta
        name=\"description\" content=\"HONDA Head Gasket. This is a genuine headgasket
        for all Honda K-series engines. As with all genuine Honda parts expect a perfect
        fit and performance. Part number 12251-RRB-004. Fits all K-series Engines
        - K24. by Genuine Honda from \xA355.01\" />\n<meta name=\"robots\" content=\"INDEX,
        FOLLOW\" />\n<link href=\"https://fonts.googleapis.com/css?family=Oswald&display=swap\"
        rel=\"stylesheet\">\n<meta property=\"og:title\" content=\"GENUINE HONDA HEAD
        GASKET K-SERIES K24\" />\n<meta property=\"og:type\" content=\"product\" />\n<meta
        property=\"og:image\" content=\"https://www.tegiwaimports.com/media/catalog/product/cache/1/small_image/200x200/d911a408d269df4946d4d14282cffb28/g/e/genuine-honda-head-gasket-k-series_2.jpg\"
        />\n<meta property=\"og:url\" content=\"https:[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://eucs4.klevu.com/cloud-search/n-search/search?ticket=klevu-14866558287345291&term=74100-S2A-010&responseType=json
  response:
    body:
      string: '{"meta":{"layoutId":"","layoutType":"","noOfResults":12,"paginationStartFrom":0,"powerdByLogo":"","totalResultsFound":3,"typeOfQuery":"FUZZY_AND","storeBaseCurrency":"GBP","notificationCode":1,"term":"74100-S2A-010","excludeIds":null,"isPersonalised":false,"idsUsedForPersonalisation":null},"result":[{"discount":"","hideGroupPrices":"","itemGroupId":"","freeShipping":"","storeBaseCurrency":"GBP","price":"25","toPrice":"","imageUrl":"https://www.tegiwaimports.com/media/klevu_images/7/1/71103-s2a-000_1.jpg","currency":"GBP","inStock":"yes","id":"112172","imageHover":"","sku":"71108-S2A-010","basePrice":"25.0","startPrice":"","image":"https://www.tegiwaimports.com/media/klevu_images/7/1/71103-s2a-000_1.jpg","deliveryInfo":"","hideAddToCart":"","salePrice":"25.0","oldPrice":"25.0","swatches":{"swatch":[],"lowestPrice":"","numberOfAdditionalVariants":""},"weight":"0.5000","klevu_category":"KLEVU_PRODUCT;;Brands;;Genuine
        Honda ;;Exterior  @ku@kuCategory@ku@","totalVariants":"0","groupPrices":"9:Dealer_VAT:18.7500;10:Dealer_VATREG:18.7500;11:Trader_VAT:18.7500;12:Trader_VATREG:18.7500;15:Sp[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.tegiwaimports.com/genuine-honda-auto-tensioner-civic-ep3-integra-dc5-k-series.html
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\" />\n<title>GENUINE HONDA AUTO TENSIONER
        CIVIC EP3 INTEGRA DC5 K-SERIES from Genuine Honda only \xA3137.51  | Tegiwa
        Imports</title>\n<meta name=\"description\" cont[...]
