interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://hondaspareparts.co.uk/products/12251RBB004
  response:
    body:
      string: "<!doctype html>\n<html class=\"no-js\" lang=\"en\">\n<head>\n\n  <meta
        charset=\"utf-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n
        \ <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n
        \ <meta name=\"theme-color\" content=\"#222222\">\n\n  \n    <link rel=\"shortcut
        icon\" href=\"//cdn.shopify.com/s/files/1/0280/2971/4502/files/favicon_32x32.png?v=1613792573\"
        type=\"image/png\">\n  \n\n  <link rel=\"canonical\" href=\"https://hondaspareparts.co.uk/products/12251rbb004\">\n
        \ <title>\n  GASKET COMP., CYLINDER HE | 12251RBB004 | honda car part &ndash;
        lings-hondaparts\n  </title>\n\n  \n    <meta name=\"description\" content=\"Genuine
        honda car part description: GASKET COMP., CYLINDER HE | honda part number:
        12251RBB004\">\n  \n\n  <!-- /snippets/social-meta-tags.liquid -->\n\n\n\n\n<meta
        property=\"og:site_name\" content=\"lings-hondaparts\">\n<meta property=\"og:url\"
        content=\"https://hondaspareparts.co.uk/products/12251rbb004\">\n<[...]
- request:
    body: '{"params": "query=12251-RBB-004"}'
    headers: {}
    method: POST
    uri: https://nnvjvcwb78-dsn.algolia.net/1/indexes/magento2_en_products/query?x-algolia-application-id=NNVJVCWB78&x-algolia-api-key=YmM2ZWQ3MGQwMjI2OGJiNjI2ZDdlYjQzZTM0ZjBiNDlhNTQzYzk4ZDhkMWExYWJjNGU0YzMwYWVjY2U1YjJkOXRhZ0ZpbHRlcnM9
  response:
    body:
      string: "{\"hits\":[{\"name\":\"OEM Honda head gasket (Accord 2003-2012 2.4
        type S)\",\"url\":\"https://www.a4h-tech.com/en/oem-honda-head-gasket-accord-2003-2012-2-4-type-s\",\"visibility_search\":1,\"visibility_catalog\":1,\"type_id\":\"simple\",\"ordered_qty\":10,\"rating_summary\":\"\",\"categories\":{\"level0\":[\"Engine\",\"Brands\",\"All
        Products\"],\"level1\":[\"Engine /// Cylinder head & Accessories\",\"Engine
        /// Internal Engine Parts\",\"Brands /// OEM Honda\"],\"level2\":[\"Engine
        /// Cylinder head & Accessories /// Gaskets & Accessories\",\"Engine /// Internal
        Engine Parts /// Gaskets & Seals\"]},\"categories_without_path\":[\"Gaskets
        & Accessories\",\"Gaskets & Seals\",\"OEM Honda\",\"All Products\"],\"categoryIds\":[\"1054\",\"1055\",\"1128\",\"1059\",\"1150\",\"1189\",\"1337\",\"1482\"],\"thumbnail_url\":\"//www.a4h-tech.com/media/catalog/product/cache/6c5c5e8d5ee382759c9efb3a86300c19/1/2/12251-rbb-004-oem-honda-koppakking-accord-2003-2012-2.4-type-s-all4honda.jpg\",\"image_url\":\"//www.a4h-tech.com/media/catalog/product/cache/3558329f726a95ba08740a57c013e49b/1/2/12251-rbb-004-oem-honda-koppakking-accord-2003-2012-2.4-type-s-all4honda.jpg\",\"in_stock\":1,\"stock_qty\":1,\"sku\":\"12251-RBB-004\",\"created_at\":\"2018-04-04
        12:13:28\",\"price\":{\"EUR\":{\"default\":112.95,\"default_formated\":\"\u20AC112.95\",\"special_from_date\":false,\"special_to_date\":false}},\"manufacturer\":\"OEM
        Honda\",\"ribbon\":null,\"partfinder_lvl0\":[\"Honda\"],\"partfinder_lvl1\":[\"Honda
        > Accord 4 deurs/sedan\",\"Honda > Accord aerodeck/tourer\"],\"partfinder_lvl2\":[\"Honda
        > Accord 4 deurs/sedan > 2003-2005\",\"Honda > Accord 4 deurs/sedan > 2005-2007\",\"Honda
        > Accord aerodeck/tourer > 2003-2005\",\"Honda > Accord aerodeck/tourer >
        2005-2008\"],\"partfinder_lvl3\":[\"Honda > Accord 4 deurs/sedan > 2003-2005
        > 2.4i\",\"Honda > Accord 4 deurs/sedan > 2005-2007 > 2.4i\",\"Honda > Accord
        aerodeck/tourer > 2003-2005 > 2.4i\",\"Honda > Accord aerodeck/tourer > 2005-2008
        > 2.4i\"],\"partfinder_universal\":false,\"algoliaLastUpdateAtCET\":\"2022-10-31
        23:03:17\",\"objectID\":\"41299\",\"_highlightResult\":{\"name\":{\"value\":\"OEM
        Honda head gasket (Accord 2003-2012 2.4 type S)\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"ordered_qty\":{\"value\":\"10\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"rating_summary\":{\"value\":\"\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"categories\":{\"level0\":[{\"value\":\"Engine\",\"matchLevel\":\"none\",\"matchedWords\":[]},{\"value\":\"Brands\",\"matchLevel\":\"none\",\"matchedWords\":[]},{\"value\":\"All
        Products\",\"matchLevel\":\"none\",\"matchedWords\":[]}],\"level1\":[{\"value\":\"Engine
        /// Cylinder head & Accessories\",\"matchLevel\":\"none\",\"matchedWords\":[]},{\"value\":\"Engine
        /// Internal Engine Parts\",\"matchLevel\":\"none\",\"matchedWords\":[]},{\"value\":\"Brands
        /// OEM Honda\",\"matchLevel\":\"none\",\"matchedWords\":[]}],\"level2\":[{\"value\":\"Engine
        /// Cylinder head & Accessories /// Gaskets & Accessories\",\"matchLevel\":\"none\",\"matchedWords\":[]},{\"value\":\"Engine
        /// Internal Engine Parts /// Gaskets & Seals\",\"matchLevel\":\"none\",\"matchedWords\":[]}]},\"categories_without_path\":[{\"value\":\"Gaskets
        & Accessories\",\"matchLevel\":\"none\",\"matchedWords\":[]},{\"value\":\"Gaskets
        & Seals\",\"matchLevel\":\"none\",\"matchedWords\":[]},{\"value\":\"OEM Honda\",\"matchLevel\":\"none\",\"matchedWords\":[]},{\"value\":\"All
        Products\",\"matchLevel\":\"none\",\"matchedWords\":[]}],\"stock_qty\":{\"value\":\"1\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"sku\":{\"value\":\"<em>12251-RBB-004</em>\",\"matchLevel\":\"full\",\"fullyHighlighted\":true,\"matchedWords\":[\"12251\",\"rbb\",\"004\"]},\"created_at\":{\"value\":\"2018-04-04
        12:13:28\",\"matchLevel\":\"none\",\"matchedWords\":[]}}}],\"nbHits\":1,\"page\":0,\"nbPages\":1,\"hitsPerPage\":20,\"exhaustiveNbHits\":true,\"exhaustiveTypo\":true,\"exhaustive\":{\"nbHits\":true,\"typo\":true},\"query\":\"12251-RBB-004\",\"params\":\"query=12251-RBB-004&tagFilters=\",\"processingTimeMS\":1,\"processingTimingsMS\":{\"total\":1}}"
    headers:
      Content-Disposition:
      - inline; filename=a.txt
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-PT:
      - '1'
    status:
      code: 200
      message: OK
    url: https://nnvjvcwb78-dsn.algolia.net/1/indexes/magento2_en_products/query?x-algolia-application-id=NNVJVCWB78&x-algolia-api-key=YmM2ZWQ3MGQwMjI2OGJiNjI2ZDdlYjQzZTM0ZjBiNDlhNTQzYzk4ZDhkMWExYWJjNGU0YzMwYWVjY2U1YjJkOXRhZ0ZpbHRlcnM9
- request:
    body: null
    headers: {}
    method: GET
    uri: https://eucs4.klevu.com/cloud-search/n-search/search?ticket=klevu-14866558287345291&term=12251-RBB-004&responseType=json
  response:
    body:
      string: '{"meta":{"layoutId":"","layoutType":"","noOfResults":12,"paginationStartFrom":0,"powerdByLogo":"","totalResultsFound":1,"typeOfQuery":"WILDCARD_AND","storeBaseCurrency":"GBP","notificationCode":1,"term":"12251-RBB-004","excludeIds":null,"isPersonalised":false,"idsUsedForPersonalisation":null},"result":[{"discount":"","hideGroupPrices":"","itemGroupId":"","freeShipping":"","storeBaseCurrency":"GBP","price":"72","toPrice":"","imageUrl":"https://www.tegiwaimports.com/media/klevu_images/g/e/genuine-honda-head-gasket-k-series_2.jpg","currency":"GBP","inStock":"yes","id":"9255","imageHover":"","sku":"12251-RBB-004","basePrice":"72.0","startPrice":"","image":"https://www.tegiwaimports.com/media/klevu_images/g/e/genuine-honda-head-gasket-k-series_2.jpg","deliveryInfo":"","hideAddToCart":"","salePrice":"72.0","oldPrice":"72.0","swatches":{"swatch":[],"lowestPrice":"","numberOfAdditionalVariants":""},"weight":"0.4000","klevu_category":"KLEVU_PRODUCT;;Select
        Car;;Honda;;EP;;FN;;DC5;;Accord;;Engine Parts (OE);;FD;;Brands;;Genuine Honda
        ;;Engine Parts  @ku@kuCategory@ku@","totalVariants":"0","groupPrices":"9:Dealer_VAT:54.0000;10:Dealer_VATREG:54.0000;11:Trader_VAT:54.0000;12:Trader_VATREG:54.0000;15:Sponsor:54.0000;18:Distributor_VATREG:54.0000;23:Dealer_UK:54.0000","url":"https://www.tegiwaimports.com/genuine-honda-head-gasket-k-series-k24.html","name":"GENUINE
        HONDA HEAD GASKET K-SERIES K24","shortDesc":"HONDA Head Gasket. This is a
        genuine headgasket for all Honda K-series engines.","category":"honda;;ep;;fn;;dc5;;accord;;engine
        parts (oe);;engine parts (oe);;engine parts (oe);;engine parts (oe);;engine
        parts (oe);;genuine honda;;engine parts"}],"filters":[],"price":{"min":"","max":"","start":"","end":""},"autoComplete":[],"popularTerm":[],"pages":[],"categories":[],"popularProducts":[],"recentlyViewedProducts":[],"ranges":[],"error":{"errorMessage":""}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application
    status:
      code: 200
      message: OK
    url: https://eucs4.klevu.com/cloud-search/n-search/search?ticket=klevu-14866558287345291&term=12251-RBB-004&responseType=json
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.pieces-auto-honda.fr/honda-voiture/affectation_pieces_detachees/12251RBB004
  response:
    body:
      string: "\n<!DOCTYPE html>\n<html lang=\"fr-FR\">\n<head>\n                <!--
        Global site tag (gtag.js) - Google Analytics -->\n            <script async
        src=\"https://www.googletagmanager.com/gtag/js?id=G-93HG3Z774P\"></script>\n
        \           <script>\n                window.dataLayer = window.dataLayer
        || [];\n                function gtag(){dataLayer.push(arguments);}\n                gtag('js',
        new Date());\n\n                gtag('config', 'G-93HG3Z774P');\n            </script>\n
        \       \n    <title>JOINT COMP. DE CULASSE (N 12251-RBB-004 Trouvez sur quels
        Honda est mont\xE9e une r\xE9f\[...]
- request:
    body: null
    headers:
      site:
      - HPN
    method: GET
    uri: https://www.hondapartsnow.com/api/search/search-words?searchText=12251-RBB-004
  response:
    body:
      string: '{"url":null,"code":200,"data":{"isConfirmShow":false,"redirectUrl":"/genuine/honda~gasket~cylinder~head~12251-rbb-004.html","make":null,"fakeMake":null,"model":null,"year":0,"submodel":null,"extra1":null,"extra2":null,"vin":null,"vehicles":null},"message":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://www.hondapartsnow.com/api/search/search-words?searchText=12251-RBB-004
- request:
    body: null
    headers:
    method: GET
    uri: https://www.tegiwaimports.com/genuine-honda-head-gasket-k-series-k24.html
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\" />\n<title>GENUINE HONDA HEAD GASKET
        K-SERIES K24 by Genuine Honda for only \xA355.01  | Tegiwa Imports</title>\n<meta
        name=\"description\" content=\"HONDA Head Gasket. This is a genuin[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.hondapartsonline.net/search?search_str=12251-RBB-004
  response:
    body: {}
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - /oem-parts/honda-gasket-cylinder-head-nippon-leakless-12251rbb004
      X-Environment:
      - prd
      X-Role:
      - webstore
      parent-id:
      - e894e7e211083528
      sampled:
      - '1'
      trace-id:
      - a53cc3e8bd077b32
    status:
      code: 302
      message: Found
    url: https://www.hondapartsonline.net/search?search_str=12251-RBB-004
- request:
    body: null
    headers:
    method: GET
    uri: https://www.acurapartsforless.com/search?search_str=12251-RBB-004
  response:
    body: {}
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - /oem-parts/acura-gasket-cylinder-head-nippon-leakless-12251rbb004
      X-Environment:
      - prd
      X-Role:
      - webstore
      parent-id:
      - ee864a86532a7878
      sampled:
      - '1'
      trace-id:
      - 29c8941c5268d9be
    status:
      code: 302
      message: Found
    url: https://www.acurapartsforless.com/search?search_str=12251-RBB-004
- request:
    body: null
    headers:
    method: GET
    uri: https://www.acurapartsforless.com/oem-parts/acura-gasket-cylinder-head-nippon-leakless-12251rbb004
  response:
    body:
      string: "<!DOCTYPE html> <html lang=\"en\"> <head> <meta charset=\"utf-8\">
        <title>Genuine OEM Acura - Gasket, Cylinder Head (Nippon Leakless) Part# 12251-RBB-004
        | Acura Parts For Less</title> <base href=\"https://www.acurapartsforless.com\">
        <meta name=\"description\" content=\"2004-2008 Acura TSX OEM Acura Part #
        12251-RBB-004 - Gasket, Cylinder Head (Nippon Leakless): Up To 35% Off On
        Every Order And Guaranteed Fit When You Enter Your VIN\"> <link rel=\"preload\"
        href=\"https://dgjfe4w8gdxne.cloudfront.net/webstore/9002/common.js\" as=\"script\">
        <link rel=\"preload\" href=\"https://dgjfe4w8gdxne.cloudfront.net/webstore/9002/webstore-package.js\"
 [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.hondapartsonline.net/oem-parts/honda-gasket-cylinder-head-nippon-leakless-12251rbb004
  response:
    body:
      string: "<!DOCTYPE html> <html lang=\"en\"> <head> <meta charset=\"utf-8\">
        <title>2006-2011 Honda Gasket, Cylinder Head (Nippon Leakless) 12251-RBB-004
        | Honda Parts Online</title> <base href=\"https://www.hondapartsonline.net\">
        <meta name=\"description\" content=\"OEM\_2006-2011 Hon[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.acuraexpressparts.com/search?search_str=12251-RBB-004
  response:
    body: {}
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - /oem-parts/acura-gasket-cylinder-head-nippon-leakless-12251rbb004
      X-Environment:
      - prd
      X-Role:
      - webstore
      parent-id:
      - ''
      sampled:
      - ''
      trace-id:
      - 614164338481ae9b
    status:
      code: 302
      message: Found
    url: https://www.acuraexpressparts.com/search?search_str=12251-RBB-004
- request:
    body: null
    headers:
    method: GET
    uri: https://www.acuraexpressparts.com/oem-parts/acura-gasket-cylinder-head-nippon-leakless-12251rbb004
  response:
    body:
      string: "<!DOCTYPE html> <html lang=\"en\"> <head> <meta charset=\"utf-8\">
        <title>Genuine OEM Acura Gasket, Cylinder Head (Nippon Leakless) Part# 12251-RBB-004
        Fits 2004-2008 Acura TSX: Up To 35% Off On Every Order And Guaranteed Fit
        When You Enter Your VIN | Acura Express Parts</tit[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.hondaautomotiveparts.com/search?search_str=12251-RBB-004
  response:
    body: {}
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - /oem-parts/honda-gasket-cylinder-head-nippon-leakless-12251rbb004
      X-Environment:
      - prd
      X-Role:
      - webstore
      parent-id:
      - dd0da6c157d2e34e
      sampled:
      - '1'
      trace-id:
      - caee9d5c94693578
    status:
      code: 302
      message: Found
    url: https://www.hondaautomotiveparts.com/search?search_str=12251-RBB-004
- request:
    body: null
    headers:
    method: GET
    uri: https://www.hondaautomotiveparts.com/oem-parts/honda-gasket-cylinder-head-nippon-leakless-12251rbb004
  response:
    body:
      string: "<!DOCTYPE html> <html lang=\"en\"> <head> <meta charset=\"utf-8\">
        <title>2006-2011 Honda Gasket, Cylinder Head (Nippon Leakless) 12251-RBB-004
        | Majestic Honda Automotive Parts</title> <base href=\"https://www.hondaautomotiveparts.com\">
        <meta name=\"description\" content[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://amayama.com/en/part/honda/12251RBB004
  response:
    body: {}
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - https://www.amayama.com/en/part/honda/12251RBB004
    status:
      code: 301
      message: Moved Permanently
    url: https://amayama.com/en/part/honda/12251RBB004
- request:
    body: null
    headers:
    method: GET
    uri: https://www.amayama.com/en/part/honda/12251RBB004
  response:
    body: {}
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - https://www.amayama.com/en/part/honda/12251rbb004
    status:
      code: 301
      message: Moved Permanently
    url: https://www.amayama.com/en/part/honda/12251RBB004
- request:
    body: null
    headers:
    method: GET
    uri: https://www.amayama.com/en/part/honda/12251rbb004
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\" data-type=\"1\">\n<head>\n\t<title>Buy
        Genuine Honda 12251RBB004 (12251-RBB-004) Gasket Comp., Cylinder Head (Nippon
        Leakless). Prices, fast shipping, photos, weight - Amayama</title>\n\t<meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />\n\t<meta
        http-equiv=\[...]
